body {
    min-height: 100vh;
    font-family: 'Outfit';
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 330px;
}

p {
    font-size: 15px;
}

.card-title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card-text {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
